.DS_Store
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Cookiecutter
output/
myflaskapp/

# JS installation
bower_components
node_modules
npm-debug.log

# Gruntfile output
css
.tmp
